@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

p, h1, h2 {
    margin: 10px 0;
    text-align: justify;
}

header, section.normal {
    width: 100%;
    padding: 20px;
    background-color: #4CAF50;
    color: white;
}

section.flex-content {
  padding: 20px;
  margin: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  display: flex;
  flex-flow: column nowrap;
}

article.text-media {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

article.media-text {
  display: flex;
  flex-flow: row wrap-reverse;
  justify-content: space-between;
}

article > div.text {
  flex: 1 1 500px;
}

article > div.media{
  flex: 1 0 500px;
}

div.media > img {
  display: block;
  margin: auto;
}

div.media > iframe {
  display: block;
  margin: auto;
  width: 80%;
}